.header {
  background-color: var(--dark); /* Dark background */
  padding: 20px 30px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 36px;
  color: var(--yellow);
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.yellow-button {
  background-color: var(--yellow);
  color: var(--dark);
}

.black-button {
  background-color: var(--dark);
  color: var(--white);
}
